<title-heading title="Fitness Elite Sports Group Information"></title-heading>

<alert-bar>
  Check out the information about the groups that work out at our facility!<br/>
  <a href="groups#fet-header-image">Fitness Elite Tumbling</a> | <a href="groups#demo-header-image">Demolition Combat Academy</a> | <a href="groups#karate-header-image">Kokoro Karate School</a>
</alert-bar>

<div id="content-table" class="event-box-table">

  <div id="fet-content" class="event-box-row">
    <div class="event-box cell last">
      <img id="fet-header-image" class="rounded-image" src="./assets/fe_tumbling.png" />
      <div class="detail-table">
        <div class="detail-row">
          <div class="detail-cell ">
            <div id="detail-fet-pricing" class="detail-box" >
              <h2>PRICING</h2>
              <div class="centered">
                <ul>
                  <li class="pricing">4 classes - $40(M)</li>
                  <li class="pricing-fine unindent">(1 Per Week)</li>
                  <li class="pricing">8 classes - $70(M)</li>
                  <li class="pricing-fine unindent">(1 Per Week)</li>
                  <li class="pricing">OPEN GYM - $5(W)</li>
                  <li class="pricing-fine">M- MONTHLY &nbsp;&nbsp;&nbsp; W- WEEKLY</li>
                </ul>
              </div>
            </div>
            <div id="fet-instructors" class="detail-box" >
              <h2>INSTRUCTORS</h2>
              <div class="centered">
                <div>Katie Taylor</div><div>Taylor Thomas</div><br/>
                <div>Logan Dible</div><div>Jenna Fagan</div><br/>
                <div>Zoe Kent</div><div>Kaylee Roberts</div>
            </div>
            </div>
          </div>
          <div class="detail-cell ">
            <div id="fet-classes" class="detail-box" >
              <h2>CLASSES</h2>
              <div class="centered">
                MONDAY & WEDNESDAY<br/>
                <span class="lighter">
                Beginning Tumble: 5:30 - 6:30pm<br/>
                Intermediate Tumble: 6:30 - 7:30pm<br/>
                Advanced Tumble: 7:30 - 8:30pm
                </span>
              </div>
              <div class="centered">
                FRIDAY<br/>
                <span class="lighter">
                  Open Gym: 6:30 - 7:30pm
                </span>
              </div>
            </div>
            <div class="detail-box" >
              <div id="fet-classes-begin" class="content-bold">
                CLASSES BEGIN<br/>
                MARCH 2ND
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="detail-row">
        <div class="detail-box detail-full-width">
          <h2>MEMBERSHIP & CONTACT</h2>
          <div class="centered lighter">
            * A $15.00 Yearly Tumble Memberhips is REQUIRED *
          </div>
          <div id="fet-contact" class="centered lighter">
            <div>
              <div>Address:</div>
              <div><a href="https://www.google.com/maps/search/?api=1&query=735%20Pleasantview%20St.%2C%20Upper%20Sandusky%2C%2043351" target="_blank">
                735 Pleasantview St.<br/>
                Upper Sandusky, 43351
              </a></div>
            </div>
            <div>
              <div>Phone:</div>
              <div>
                <a href="tel:419-310-8504">(419) 310-8504</a><br/>
                <a href="tel:419-310-4773">(419) 310-4773</a>
              </div>
            </div>
            <div>
              <div>Facebook:</div>
              <div><a href="https://www.facebook.com/upperfitnesselite/" target="_blank">Fitness Elite</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="demo-content" class="event-box-row">
    <div class="event-box cell last">
      <div class="centered"><img id="demo-header-image" class="rounded-image" src="./assets/demolition_combat_academy.jpg" /></div>
      <div class="detail-table">
        <div class="detail-row">
          <div class="detail-cell ">

            <div id="fet-classes" class="detail-box detail-full-width" >
              <h2>CLASSES</h2>
              <div class="centered">
                WEDNESDAY<br/>
                <span class="lighter">
                Conditioning: 5:30 - 6:00pm<br/>
                MMA Practice: 6:00 - 7:00pm<br/>
                Wrestling: 7:00 - 8:00pm
                </span>
              </div>
              <div class="centered">
                FRIDAY<br/>
                <span class="lighter">
                Kid's Boxing: 5:00 - 6:00pm<br/>
                MMA / Wrestling: 6:00 - 7:00pm
                </span>
              </div>
              <div class="centered">
                SUNDAY<br/>
                <span class="lighter">
                MMA Practice / Conditioning: 10:00am - 12:00pm<br/>
                Wrestling: 12:00pm - 2:00pm
                </span>
              </div>
              <div class="centered">
                Coming soon (April).... MONDAY<br/>
                <span class="lighter">
                Advanced Boxing: 7:00pm
                </span>
              </div>
            </div>

            <div class="detail-box detail-full-width">
              <h2>MEMBERSHIP & CONTACT</h2>
              <div class="centered lighter">
                * Additional details coming soon *
              </div>
              <div id="fet-contact" class="centered lighter">
                <div>
                  <div>Address:</div>
                  <div><a href="https://www.google.com/maps/search/?api=1&query=735%20Pleasantview%20St.%2C%20Upper%20Sandusky%2C%2043351" target="_blank">
                    735 Pleasantview St.<br/>
                    Upper Sandusky, 43351
                  </a></div>
                </div>
                <div>
                  <div>Phone:</div>
                  <!-- <div>
                    <a href="tel:419-310-XXXX">(419) 310-XXXX</a>
                  </div> -->
                </div>
                <div>
                  <div>Facebook:</div>
                  <div><a href="https://www.facebook.com/upperfitnesselite/" target="_blank">Fitness Elite</a></div>
                </div>
              </div>
             </div>

           </div>
        </div>
      </div>
    </div>
  </div>

  <div id="karate-content" class="event-box-row" style="margin-bottom: 25em;">
    <div class="event-box cell last">
      <div class="centered"><img id="karate-header-image" class="rounded-image" src="./assets/karate-upper-sandusky.jpg" /></div>
      <div class="detail-table">
        <div class="detail-row">

        <div class="detail-cell ">
          <div id="fet-classes" class="detail-box" >
            <h2>CLASSES</h2>
            <div class="centered">
              TUESDAY & THURSDAY<br/>
              <span class="lighter">
              Beginners / Youth: 6:00 - 7:00pm<br/>
              Adult / Advanced: 7:00 - 8:00pm
              </span>
            </div>
          </div>

          <div class="detail-box detail-full-width">
            <h2>MEMBERSHIP & CONTACT</h2>
            <div class="centered lighter">
              Karate fees are $50 / month for individual and $10 / month for each individual person on your account.
            </div>
            <div id="fet-contact" class="centered lighter">
              <div>
                <div>Address:</div>
                <div><a href="https://www.google.com/maps/search/?api=1&query=735%20Pleasantview%20St.%2C%20Upper%20Sandusky%2C%2043351" target="_blank">
                  735 Pleasantview St.<br/>
                  Upper Sandusky, 43351
                </a></div>
              </div>
              <div>
                <div>Phone:</div>
                <div>
                  <a href="tel:419-310-9564">(419) 310-9564</a>
                </div>
              </div>
              <div>
                <div>Facebook:</div>
                <div><a href="https://www.facebook.com/karateuppersandusky/" target="_blank">Kokoro Karate School</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
